h1 {
  font-weight: 300;
  color: #808c99;
  font-size: 4em;
  text-align: center;
  margin: 31px;
}

#wordOne {
  font-weight: 100;
}

#wordTwo {
  font-weight: 400;
}

h2 {
  color: #808c99;
}

a {
  text-decoration: none;
  color: #c69;
  list-style: none;

  &:hover { text-decoration: underline; }
}

.info {
}
